
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="ui grid">
  <div class="one wide column"></div>
    <div class="two wide column">
      <h1 class="ui teal header">Bloggr</h1>
    </div>
  <div class="fourteen wide column">
</div>

  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="four wide column">
      <div class="ui warning form segment">
        <div class="posting box">
          <ul class="list">

          </ul>
        </div>
        <div class="description">
          <label><h2><font color="teal">New Post</color></h2></label>
            <input placeholder="Share your thoughts!" name="post[description]" type="text">

          </div>
          <center>
            <div class="ui hidden divider"></div>
            <div class="ui buttons">
              <div class="ui teal fade animated button">
                <div class="visible content"><center><i class="large send icon"></i></center></div>
                <div class="hidden content" id="submit-button">
                  Submit
                </div>
              </div>

              <div class="ui teal fade animated button">
                <div class="visible content"><center><i class="large photo icon"></i></center></div>
                <div class="hidden content">
                  Add Image
                </div>
              </div>
            </div>
          </center>


        </div>
      </div>
    </div>
  </div>
  <div class="eleven wide column">
  </div>
</div>


<ul>
<div id="posts-container">
</ul>

</div>


<script id="entry-template" type="text/x-handlebars-template">
  <div class="ui card">
    <a class="ui corner red label"><i class="x icon" id:"delete"></i></a>
    <div class="content">
      <div class="meta">date</div>
      <div class="description">
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</script>
